{% extends 'base.html.twig' %}

{% block title %}Développeur Web{% endblock %}

{% block body %}
  <body id="page-top">


  <div class="container-fluid p-3">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">{{ user.firstname }}
          <span class="text-primary"> {{ user.lastname }}</span>
        </h1>
        <hr>
        <div class="subheading mb-5">
          <h2>{{ user.title }}</h2>
        </div>
        <div class="offset-lg-4 col-lg-6 rounded">
        <blockquote class="citation mb-lg-5 mb-5 p-lg-4">
          <p class="font-italic text-center">« La vocation, c’est avoir pour métier sa passion. »</p>
        <footer class="text-right">
         <strong>Stendhal</strong>
        </footer>
        </blockquote>
      </div>

        <p class="lead mb-5">{{ user.description | raw }} </p>

        <br><br>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/jdboccara/" target="_blank">
            <i class="fab fa-linkedin-in fa-1.5x"></i>
          </a>
          <a href="https://github.com/JDBOC" target="_blank">
            <i class="fab fa-github fa-1.5x"></i>
          </a>
          <a href="{{ path('message') }}">
            <i class="fas fa-envelope fa-1.5x"></i>
          </a>
          <a href="{{ asset('images/CV.pdf') }}" target="_blank">
            <i class="far fa-file-pdf fa-1.5x"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100 ">
        <h2 class="text-center mb-5 border-blue">Compétences</h2>
        <div>
          <div class="subheading mb-3">Langages et outils</div>
          <ul class="list-inline dev-icons">
            <li class="list-inline-item">
              <i class="fab fa-php fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-css3-alt fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-js fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-html5 fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-mysql-square fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-symfony fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-sass fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-linux fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-github fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>

            <li class="list-inline-item">
              <i class="fab fa-npm fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fas fa-database fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-slack fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-stack-overflow fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fab fa-stripe fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
            <li class="list-inline-item">
              <i class="fas fa-coffee fa-3x" data-aos="flip-left"
                 data-aos-easing="ease-out-cubic"
                 data-aos-duration="2000"></i>
            </li>
          </ul>
        </div>

        <div class="subheading mt-5 mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum
          </li>
        </ul>
      </div>
    </section>


    <hr class="m-0">

    {% include 'experiences/timeline.html.twig' %}

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="text-center mb-5 blue">Formations</h2>

        {% for formation in formations %}
          <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
              <h3 class="mb-0">{{ formation.title }}</h3>
              <div class="subheading mb-3">{{ formation.lieu }}</div>
              <p>GPA: 3.56</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">{{ formation.year }}</span>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>


    <hr class="m-0">


  </div>


  </body>
{% endblock %}
