
{% block _portfolio_images_widget %}
  <p>Ajoutez vos images</p>
  <div class="form-group">
    {{ form_widget(form) }}
    <input type="hidden" id="widgets-counter" value="0">
    <button type="button" id="add-image" class="btn btn-primary">Ajouter une image</button>
  </div>
{% endblock _portfolio_images_widget %}

{% block _portfolio_images_entry_row %}
  {{ form_widget(form) }}
{% endblock %}

{% block _portfolio_images_entry_widget %}
  <div class="form-group">
    <div class="row">
      <div class="col">
        {{ form_widget(form.url) }}
        {{ form_errors(form.url) }}
      </div>
      <div class="col">
        {{ form_widget(form.caption) }}
        {{ form_errors(form.caption) }}
      </div>
    </div>
    <div class="col-3">
      <button type="button" data-action="delete" data-target="#block_" class="btn btn-danger">X</button>
    </div>
  </div>

{% endblock %}