{% extends 'base.html.twig' %}

{% block title %}Portfolio index{% endblock %}

{% block body %}
    <h1>Portfolio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for portfolio in portfolios %}
            <tr>
                <td>{{ portfolio.id }}</td>
                <td>{{ portfolio.titre }}</td>
                <td>{{ portfolio.description }}</td>
                <td>
                    <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}">show</a>
                    <a href="{{ path('portfolio_edit', {'id': portfolio.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('portfolio_new') }}">Create new</a>
{% endblock %}
