{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <h1>Portfolio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ portfolio.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ portfolio.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ portfolio.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('portfolio_index') }}">back to list</a>

    <a href="{{ path('portfolio_edit', {'id': portfolio.id}) }}">edit</a>

    {{ include('portfolio/_delete_form.html.twig') }}
{% endblock %}
