{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/timeline.css') }}">
{% endblock %}
{% block body %}
  <section class="timeline resume-section" id="experience">
<h2 class="text-center">EXPERIENCES</h2>
    <ul>
      {% for experience in experiences %}
        <li>
          <div class="content">
            {% if experience.id is even %}
              <div class="row justify-content-between">
                <strong>
                  <time>{{ experience.title }}</time>
                </strong>
                <strong>{{ experience.entree|date('Y-m-d') }} - {{ experience.sortie|date('Y-m-d') }}</strong>
              </div>
            {% else %}
              <div class="row justify-content-between">
                <strong>{{ experience.entree|date('Y-m-d') }} - {{ experience.sortie|date('Y-m-d') }}</strong>
                <h2>
                  <time>{{ experience.title }}</time>
                </h2>
              </div>
            {% endif %}
            <p class="text-center"><strong>{{ experience.company }}</strong>
              <br>
              {{ experience.descriptif }}
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
{% block javascripts %}
  <script>{{ asset('js/timeline.js') }}</script>
{% endblock %}