{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/timeline.css') }}">
{% endblock %}
{% block body %}
  <section class="timeline resume-section" id="experience">
    <h2 class="text-center">EXPERIENCES</h2>
    <ul>
      {% for experience in experiences %}
        <li>
          <div class="content">
            {% if experience.id is odd %}
              <div class="">
                <div class="col">
                  <time><strong>{{ experience.sortie|date('d-m-Y') }} - {{ experience.entree|date('d-m-Y') }}
                    </strong></time>
                </div>
                <div class="col">
                  <h4 class="text-danger">
                    {{ experience.company }}
                  </h4>
                </div>
              </div>
            {% else %}
              <div class=" text-lg-right">
                <div class="col">
                  <time><strong>{{ experience.sortie|date('d-m-Y') }} - {{ experience.entree|date('d-m-Y') }}
                    </strong></time>
                </div>
                <div class="col">
                  <h4 class="text-white text-danger">
                    {{ experience.company }}
                  </h4>
                </div>
              </div>
            {% endif %}
            <h3 class="text-center mt-4"><strong>{{ experience.title }}</strong></h3>
            <br>
            <p>{{ experience.descriptif | raw }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endblock %}
{% block javascripts %}
  <script>{{ asset('js/timeline.js') }}</script>
  <script src="https://cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
{% endblock %}