{% extends 'base.html.twig' %}

{% block title %}Upload index{% endblock %}

{% block body %}
    <h1>Upload index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for up in upload %}
            <tr>
                <td>{{ up.id }}</td>
                <td>{{ up.titre }}</td>
                <td>
                    <a href="{{ path('upload_show', {'id': up.id}) }}">show</a>
                    <a href="{{ path('upload_edit', {'id': up.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div>
        <h3>test</h3>
        <img src="{{ asset('up') }}" alt="">
    </div>

    <a href="{{ path('upload_new') }}">Create new</a>
{% endblock %}
