{% extends 'base.html.twig' %}

{% block title %}Upload{% endblock %}

{% block body %}
    <h1>Upload</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ upload.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ upload.titre }}</td>
            </tr>
        </tbody>
    </table>

{% for up in upload %}
<h3>test</h3>
    <img src="{{ up.titre }}" alt="">


    {% endfor %}
    <a href="{{ path('upload_index') }}">back to list</a>

    <a href="{{ path('upload_edit', {'id': upload.id}) }}">edit</a>

    {{ include('upload/_delete_form.html.twig') }}
{% endblock %}
