{% extends 'base.html.twig' %}
{% block body %}
  <div class="section" id="contactForm">
    <div class="cc-contact-information py-5 px-5">
      <div class="container">
        <div class="cc-contact">
          <div class="row">
            <div class="col-md-9">
              <div class="card mb-0 bg-light" data-aos="zoom-in">
                <div class="h2 text-center title mt-4">Nouveau message</div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="card-body">
                      <form action="" method="POST">
                        <div class="p pb-3"><strong></strong></div>
                        {{ form_start(formContact) }}
                        <div class="row mb-3">
                          <div class="col">
                            {{ form_row (formContact.firstname, {'label': 'Prénom'}) }}

                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            {{ form_row (formContact.lastname, {'label': 'Nom'}) }}
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            {{ form_row (formContact.phone, {'label': 'téléphone'}) }}
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            {{ form_row (formContact.email, {'label': 'Email'}) }}
                          </div>
                        </div>

                        {{ form_row(formContact.message, {'label': 'Message'}) }}
                        <div class="row py-3">
                          <div class="col-6">
                            <button class="btn btn-success align-items-center" type="submit">Envoyer</button>
                          </div>
                          <div class="col-6">
                            <a class="btn btn-primary float-right" href="{{ path('index') }}" data-aos="zoom-in"
                               data-aos-anchor="data-aos-anchor">Retour</a>
                          </div>
                        </div>
                        {{ form_end(formContact) }}


                      </form>
                    </div>
                  </div>
                  <div class="my-auto mx-auto">

                    <div class="card-body">

                      <div class="row mb-5">
                        <div class="col-1 offset-2"><i class="fas fa-mobile-alt" style="font-size: 1.5rem"></i></div>
                        <div class="col"><p class="font-italic">07 69 733 533</p></div>
                        <br>
                      </div>
                      <div class="row">

                        <p class="col-1"><i class="far fa-paper-plane" style="font-size: 1.5rem"></i></p>
                        <div class="col"><p class="font-italic">jdboccara@gmail.com</p></div>
                    </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}