

  <div class="container">
    <div class="col-6">
    <table class="table">

      <tbody>
      <tr>
        <th scope="row">Expéditeur</th>
        <td>{{ contact.firstname }} {{ contact.lastname }}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-phone"> téléphone</i></th>
        <td>{{ contact.phone }}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-envelope">Email</i></th>
        <td>{{ contact.email }}</td>
      </tr>
      <tr>
        <th scope="row"><i class="fas fa-envelope-open-text">Message</i></th>
        <td>{{ contact.message }}</td>
      </tr>

      </tbody>
    </table>
  </div>
  </div>